body{
background: #edeaff;

}
.stopwatch{
    width: 310px;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
}
.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300px;

}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttons img{
    width: 50px;
    margin: 0 20px;
    cursor: pointer;

}
.buttons img:nth-child(2){
    width: 60px;
}
